/* link color in title */
.title { color: #333333; }
.title > a { color: inherit; }

/* less space between progress bars */
div.progress { margin-bottom: 10px; }

/* button-links should look like links */
.toggle-link { cursor: pointer; }
